* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 20);
}

video {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 430px) {
    video {
    height: 100vh;
    margin-left: -45px;
    }
}